.body-container {
  display: flex;
  width: 1200px;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.searchbar-dropdown-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin: 20px 0px;
}
 
.country-grid {
  display: flex;  
  flex-flow: wrap;
}