img {
    height: 25px;
}

.navbar-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 1200px;
    height: 70px;
    margin: auto;
    border-bottom: white solid 2px;
}

.dark-light-mode {
    height: 30px;
}

