*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
    height: 50px;
    width: 200px; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;    
}

.dropdown-menu select {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    outline: none;    
    font-size: 1em;
    transition: 0.5s;
    opacity: 0.7;
}

.dropdown-menu select:hover {
    opacity: 1;   
}


.dropdown-menu span {
    position: absolute;
    left: 0;
    padding: 12px;
    pointer-events: none;
    font-size: 1em;   
    background-color: var(--background-color);
    margin: 1px;
    border-radius: 5px;
}

/* .dropdown-menu select:valid ~ span, */
.dropdown-menu select:focus ~ span {
    transform: translateX(10px) translateY(-9px);
    font-size: 0.65em;
    padding: 0 10px;
    background: var(--background-color);
    letter-spacing: 0.1em;
    transition: 0.5s;
}

/* .dropdown-menu select:valid, 
.dropdown-menu select:focus {    
    opacity: 1; 
} */