*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.searchbar-container {
    height: 50px;
    width: 300px; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    
}

.searchbar-container input {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    outline: none;    
    font-size: 1em;
    transition: 0.5s;
    opacity: 0.6;
}

.searchbar-container input:hover {
    opacity: 1;
}

.searchbar-container span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;   
    top: 3px;
    opacity: 0.6;
}

.searchbar-container input:valid ~ span,
.searchbar-container input:focus ~ span {    
    transform: translateX(10px) translateY(-9px);
    font-size: 0.65em;
    padding: 0 10px;
    background: var(--background-color);
    letter-spacing: 0.1em;
    transition: 0.2s;
    opacity: 1;    
}

.searchbar-container input:valid, 
.searchbar-container input:focus {    
    opacity: 1; 
}