:root {
  font-family: 'Open Sans', sans-serif;  
  font-weight: 300;  

  --component-color: #2B3844; 
  --text-color: #F2F2F2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

.light-mode {
  --component-color: #FFFFFF;
  --background-color: #F5F5F5;
  --text-color: #333333;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
}

html {
  margin:0;
  padding:0;
  height:100%;
}
